/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links a:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-ver-carrito, .btn-continuar-comprando {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-ver-carrito {
    background-color: #4CAF50;
    color: white;
}

.btn-continuar-comprando {
    background-color: #2196F3;
    color: white;
}

.btn-ver-carrito:hover {
    background-color: #45a049;
}

.btn-continuar-comprando:hover {
    background-color: #1976D2;
}

/* Estilos del carrito de compras */
.cart-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cart-page h1 {
    text-align: center;
    margin-bottom: 30px;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cart-table th, #cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #e60000;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h3 {
    display: inline-block;
    margin-right: 20px;
}

#checkout-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#checkout-btn:hover {
    background-color: #45a049;
}

/* Botones para agregar productos */
.btn-cart {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-cart:hover {
    background-color: #1976D2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Menú desplegable */
.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Carrusel */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-text {
    position: absolute;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
}

.carousel-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons .prev, .carousel-buttons .next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-buttons .prev:hover, .carousel-buttons .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Secciones de Servicios */
.service-section {
    padding: 50px 20px;
    margin-bottom: 50px;
    color: #fff;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.service-content {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.service-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.service-content p, .service-content ul {
    font-size: 1.2em;
    line-height: 1.6;
}

.service-content ul li {
    margin-bottom: 10px;
}

/* Imágenes de fondo para cada sección */
#odontologia {
    background-image: url('https://res.cloudinary.com/ddstvpalr/image/upload/v1730775566/odontologia_erexzx.jpg');
}

#cosmetologia {
    background-image: url('https://res.cloudinary.com/ddstvpalr/image/upload/v1730775579/cosmetologia_nkn4zf.jpg');
}

#terapia-fisica {
    background-image: url('https://res.cloudinary.com/ddstvpalr/image/upload/v1730775573/terapia-fisica_poch8h.jpg');
}

#psicologia {
    background-image: url('https://res.cloudinary.com/ddstvpalr/image/upload/v1730775554/psicologia_kkjq1g.jpg');
}

#nutricion {
    background-image: url('https://res.cloudinary.com/ddstvpalr/image/upload/v1729651446/nutricion_zsimtr.jpg');
}

/* Botón Ver Plan */
.btn-plan {
    display: inline-block;
    background-color: #ff7043;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-plan:hover {
    background-color: #ff5722;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Botón Comprar */
.btn-buy {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-buy:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Botón Agregar al carrito */
.btn-cart {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-cart:hover {
    background-color: #1976D2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-section {
    background-color: #f9f9f9;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-content {
    padding: 20px;
    max-width: 50%;
}

.contact-title {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-link {
    color: #4a3cff;
    font-size: 1em;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #333;
}

.contact-image {
    max-width: 50%;
    height: auto;
}

.contact-image img {
    width: 100%;
    height: auto;
    border-radius: 0 10px 10px 0;
    object-fit: cover;
}

.ubicacion-horario-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background-color: #f9f9f9;
    max-width: 1000px;
    margin: auto;
}

.mapa-container {
    flex: 1;
    text-align: left;
}

.mapa-container p {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}

.horario-container {
    flex: 1;
    text-align: left;
}

.horario-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.horario-list {
    list-style-type: none;
    padding: 0;
}

.horario-list li {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

.horario-list li strong {
    color: #333;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Profile container */
.profile-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

/* Headings */
.profile-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Info sections */
.info-section {
    margin-bottom: 20px;
    text-align: left;
}

.info-section p {
    margin: 0 0 10px;
    font-weight: bold;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Button styles */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.save-button,
.logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button {
    background-color: #4CAF50;
    color: white;
}

.save-button:hover {
    background-color: #45a049;
}

.logout-button {
    background-color: #f44336;
    color: white;
}

.logout-button:hover {
    background-color: #d7352a;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .save-button,
    .logout-button {
        width: 100%;
    }
}
