/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    color: #555;
}

/* Estilo del botón Contratar */
.btn-hire {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-hire:hover {
    background-color: #FF5722;
}

/* Estilo del botón Agregar al carrito */
.btn-cart {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-cart:hover {
    background-color: #1976D2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo del botón Volver a Inicio */
.btn-plan {
    display: inline-block;
    background-color: #FF7043;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-plan:hover {
    background-color: #FF5722;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
